# Managed by homerouter setup.sh. Match physical NICs by MAC so kernel naming
# changes do not alter the router's WAN, LAN, or Wi-Fi roles.

${WAN_MAC_CMT}[Match]
${WAN_MAC_CMT}MACAddress=${WAN_MAC}
${WAN_MAC_CMT}
${WAN_MAC_CMT}[Link]
${WAN_MAC_CMT}Name=${WAN_IF}

${LAN_MAC_CMT}[Match]
${LAN_MAC_CMT}MACAddress=${LAN_MAC}
${LAN_MAC_CMT}
${LAN_MAC_CMT}[Link]
${LAN_MAC_CMT}Name=${LAN_IF}

${WIFI_MAC_CMT}[Match]
${WIFI_MAC_CMT}MACAddress=${WIFI_MAC}
${WIFI_MAC_CMT}
${WIFI_MAC_CMT}[Link]
${WIFI_MAC_CMT}Name=${WIFI_IF}